/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

html, body { height: 100%; }
body { margin: 0; font-family:  Roboto, "Helvetica Neue", sans-serif; }


.wrapper {
min-height: 100%;
margin-bottom: -50px;
}

.push {
height: 50px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #3F51B5;
}

.copyright{
    margin: 5px 0px;
    color: white;
    /* margin-bottom: 0px; */
}


.mat-simple-snackbar {
    justify-content: center !important;
  }